Repository JuliaDiff/ChainRulesCore.jl, pull requests merged in 2020-06, with the labels that each got.

#167 Define chain rules for complex functions
  docs/src/FAQ.md
Labels: Complex Differentiation

#170 Conjugate partials in scalar rrule
  Project.toml
  src/rule_definition_tools.jl
  test/rules.jl
  test/runtests.jl
Labels: Complex Differentiation

#173 Workout types of Composite sum correctectly
  Project.toml
  src/differentials/composite.jl
  test/differentials/composite.jl
Labels: Composite, bug

#172 move complex numbers docs to own page
  docs/make.jl
  docs/src/FAQ.md
  docs/src/complex.md
Labels: Complex Differentiation, documentation
